Source: libtertiusqbit-application-model-db-mysql-perl
Section: perl
Priority: extra
Maintainer: Dmitry Lukiyanchuk <wtertius@gmail.com>
Build-Depends: debhelper (>= 8.0.0), perl, libtertiusqbit-perl, libtertiusqbit-application-model-db-perl, libdbd-mysql-perl
Standards-Version: 3.9.4

Package: libtertiusqbit-application-model-db-mysql-perl
Architecture: all
Depends: ${shlibs:Depends}, ${misc:Depends}, ${perl:Depends}, perl, libtertiusqbit-perl, libtertiusqbit-application-model-db-perl (>=0.002), libdbd-mysql-perl
Conflicts: libqbit-application-model-db-mysql-perl
Replaces: libqbit-application-model-db-mysql-perl
Description: Class for working with MySQL DB.
 Class for working with MySQL DB. It's not ORM.
